node_modules/
.cache/
public

*.env
*.env.*

.DS_Store
.htmlhintrc
.stylelintrc
.eslintrc.json
.idea
!.github/*
!.vscode/*
!*.code-workspace
yarn-error.log

gatsby-theme-boilerplate-blog/storybook-static
gatsby-theme-boilerplate-blog/yarn-error.log
